<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> {{name}}</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/livelist.css" rel="stylesheet" type="text/css">
    <link href="/toastr/toastr.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/file-upload/css/jquery.fileupload.css">
    <style>

    </style>
  </head>

  <body class="expand-editor">

    <div id="header">
      <div id="htext">
        <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span></span>
            <input id="fileupload" type="file" name="files[]" data-url="/upload" multiple>
        </span>
        <div class="btn-group btn-group-resize-content-pane" data-toggle-name="radius_options" data-toggle="buttons-radio">
            <button type="button" value="L" data-toggle="button" class="btn btn-sm active">ㅁ|</button>
            <button type="button" value="M" data-toggle="button" class="btn btn-sm">ㅁㅁ</button>
            <button type="button" value="R" data-toggle="button" class="btn btn-sm">|ㅁ</button>
        </div>
      </div>

    </div>
    <div id="left-panel">
      <div class="pages-wrap">
        <a href="/pages"><h3>Pages</h3></a>
        <div id="pages" class="list">

        </div>
      </div>
      <div class="features-wrap">
        <a href="/features"><h3>Features</h3></a>
        <div id="features" class="list">

        </div>
      </div>
      <div class="left-panel-help">
        <h5> 도움말</h5>

          <dt>Left </dt><dd> 좌로 이동</dd>
          <dt>Right </dt><dd> 우로 이동</dd>
          <dt>Up </dt><dd> 위로 이동</dd>
          <dt>Down </dt><dd> 아래로 이동</dd>
          <dt>Shift+Enter </dt><dd> 문서 열기</dd>
          <dt>Enter </dt><dd> 문서 생성 </dd>
          <dt>'#' 클릭 </dt><dd> 메뉴 열기  </dd>
          <dt>파일 DnD </dt><dd> 파일 업로드  </dd>

      </div>
    </div>
    <div id="editor" class="init">{{content}}</div>
    <div id="viewer">
      <div id="view" class="content">{{{markdown}}}</div>
    </div>
    <div id="shortcut">
      <div class="gherkin-quick">
<p>
<a href="#"><span class="tag">Background:</span><span class="desc"></span></a>
<a href="#">
    <span class="tag">Scenario:</span>
    <span class="desc">
<pre>
Scenario: Buy last coffee
  Given there are 1 coffees left in the machine
  And I have deposited 1$
  When I press the coffee button
  Then I should be served a coffee
</pre></a>
<a href="#"><span class="tag">Scenario Outline:</span><span class="desc">
<pre>
  Scenario Outline: eating
  Given there are <start> cucumbers
  When I eat <eat> cucumbers
  Then I should have <left> cucumbers

  Examples:
    | start | eat | left |
    |  12   |  5  |  7   |
    |  20   |  5  |  15  |
</pre>
</span></a>
</p><p>
      </div>


      <div class="md-quick">
<p>
<a href="#"><span class="tag">#</span><span class="desc"> Header1</span></a>
<a href="#"><span class="tag">##</span><span class="desc"> Header2</span></a>
<a href="#"><span class="tag">###</span><span class="desc"> Header3</span></a>
<a href="#"><span class="tag">####</span><span class="desc"> Header4</span></a>
<a href="#"><span class="tag">#####</span><span class="desc"> Header5</span></a>
<a href="#"><span class="tag">######</span><span class="desc">  Header6</span></a>
</p><p>
<a href="#"><span class="tag">**</span><span class="desc">Bold</span><span class="tag">**</span></a>
<a href="#"><span class="tag">*</span><span class="desc">Emphasize</span><span class="tag">*</span></a>
<a href="#"><span class="tag">_</span><span class="desc">Underline</span><span class="tag">_</span></a>
<a href="#"><span class="tag">~~</span><span class="desc">Strikethrough</span><span class="tag">~~</span></a>
<a href="#"><span class="tag">==</span><span class="desc">Highlight</span><span class="tag">==</span></a>
</p><p>
<a href="#"><span class="tag">[</span><span class="desc">link text<span class="tag">](</span><span class="desc">url</span><span class="tag">)</span></a>
<a href="#"><span class="tag">![</span><span class="desc">alt text<span class="tag">](</span><span class="desc">url</span><span class="tag">)</span></a>
</p><p>
<a href="#"><span class="tag">*</span><span class="desc"> Unordered list</span></a>
<a href="#"><span class="tag">1.</span><span class="desc"> Order list</span></a>
</p><p>
<a href="#"><span class="tag">`</span><span class="desc">code</span><span class="tag">`</span></a>
<a href="#"><span class="tag">``` </span><span class="desc">block code </span><span class="tag">```</span></a>
</p><p>
<a href="#"><span class="tag">|-|</span><span class="desc"> table</span></a>
</p><p>
<a href="#"><span class="tag">* * * </span><span class="desc">page break</span></a>
<a href="#"><span class="tag">- - - </span><span class="desc">section break</span></a>
</p>
      </div>
    </div>
    <div id="console">

    </div>

    <script>
    var docName = '{{{docName}}}';
    </script>
    <script src="/javascripts/bcsocket.js"></script>
    <script src="/requirejs/require.js"></script>
    <script src="/ace-builds/src/ace.js"></script>
    <script src="/ace-builds/src/mode-coffee.js"></script>
    <script src="/ace-builds/src/theme-solarized_dark.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
