body {
	overflow: hidden;
}

#header {
	position: fixed;
	top: 0;
	right: 0;
	height: 30px;
	width: 100%;
	background-color: black;
	font-family: baskerville, palatino, 'palatino linotype', georgia,serif;
}

span.fileinput-button {
  top: 0px;
  padding: 2 3 4 4;
}
#htext {
	line-height: 30px;
	vertical-align: middle;

	padding-left: 10px;
	color: white;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace
}

.btn-group-resize-content-pane {
	position:fixed !important;
	top: 3px;
	right:30px;
}
.btn-group-resize-content-pane button {
	background-color: #fff;
	color: #000;
	border-color: #adadad;
	padding: 2px 8px;
	border-radius: 2px;
}

#left-panel {
	z-index: 10;
	background-color: #333;
  color: #fff;
  box-shadow: 1px 1px 10px #888;
	margin: 0;
	position: fixed;
	overflow: scroll;
	float: left;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 20%;
  /*color: #93A1A1;*/
	font-size: 8pt;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.left-panel-help {
	position:absolute;
	width: 100%;
	padding: 0px 0px 10px 10px;
	bottom: 0px;

	/*border-top: 1px dotted yellow;*/
}
.left-panel-help h5{
	margin-left: 5px;
}

.left-panel-help dt {
	float:left;
	clear:left;
	padding-right: 6px;
	width: 80px;
	text-align: left;
	font-weight: 300;
	font-size: 0.8em;
	/*color: #93A1A1; */
	color: yellow;
}

/*#left-panel .pages-wrap, #left-panel .features-wrap { float: left; }
#left-panel.expand .features-wrap {margin-left:25%; } */




/*
#left-panel a, #left-panel a:visited {
  color: #D30102;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 10pt;
  text-decoration: none;
}


#left-panel .title {
  display: inline-block;
  padding-right: 30px;
  width: 97%;
}
#left-panel .btn-link {
  position: absolute;
  right: -2px;
  padding: 0px 8px;
  height: 18px;
  margin-top: 1px;
}
*/

#editor.init{
	color: #fff;
}
#editor {
	margin: 0;
	margin-left: 8px;
	position: fixed;
	top: 30px;
	bottom: 0;
	left: 20%;
	right: 0;
	width: 40%;
}

#viewer {
	margin: 0;
	position: fixed;
	overflow: scroll;
	float: left;
	top: 30px;
	bottom: 0;
	left: 60%;
	width: 40%;
	right: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	box-shadow:  1px 1px 10px #888;
	background: #F6F6F6;
}

.expand-editor #editor { width: 80%;}
.expand-editor #viewer { width: 0%;}

.expand-viewer #editor { width: 0%;}
.expand-viewer #viewer { left:20%; width: 80%;}



#view {
  padding: 10px 10px 30px 10px;
}

#view img {
	width: 90%;
	box-shadow: 1px 1px 10px #888;
}

#view fieldset {
  padding: .35em .625em .75em;
  margin: 10px 2px 25px 2px;
  border: 1px solid #c0c0c0;
}

#view legend {
  border: 0px;
  text-align: left;
	padding-left: 10px;
	margin-bottom: 10px;
}

#view pre {
  margin-left: 25px;
  margin-right: 8px;
  border-style: dotted;
}
#view pre.table {
	margin: 0px;
	padding: 0px;
	border-style: none !important;
}


#view h2,#view h3,#view h4{
  text-shadow: 4px 4px 6px #888;
}



#view h2{
	font-size: 24px;
}

#view h3{
	font-size: 20px;
}

#view h4{
	font-size: 16px;
}
#view h5{
	font-size: 13px;
	margin-left: 15px;
}


#view dt {
	float:left;
	clear:left;
	padding-right: 6px;
	width: 50px;
	text-align: right;
	font-weight: 300;
  font-size: 0.8em;
  color: #93A1A1;
}
