body {
	overflow: hidden;
}

#header {
	position: fixed;
	top: 0;
	right: 0;
	height: 30px;
	width: 100%;
	background-color: black;
	font-family: baskerville, palatino, 'palatino linotype', georgia,serif;
}

span.fileinput-button {
  top: 0px;
  padding: 2 3 4 4;
}
#htext {
	line-height: 30px;
	vertical-align: middle;

	padding-left: 10px;
	color: white;
	font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace
}

#left-panel {
	z-index: 10;
	background-color: #333;
  color: #fff;
  box-shadow: 1px 1px 10px #888;
	margin: 0;
	position: fixed;
	overflow: scroll;
	float: left;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 20%;
  /*color: #93A1A1;*/
	font-size: 8pt;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}
#left-panel .pages-wrap, #left-panel .features-wrap { float: left; }

.title-wrap { border-bottom: 1px solid #333 !important; }
.hover > .title-wrap { color: red; border-bottom: 1px solid red !important; }

.drag { display:none; cursor: pointer; float:right;}
.hover > .title-wrap > .drag { display:inline; }
.go { display:none; cursor: pointer; float:right;}
.hover > .title-wrap > .go { display:inline; }


.title { min-width:5px; display:inline-block;}



/*
#left-panel a, #left-panel a:visited {
  color: #D30102;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 10pt;
  text-decoration: none;
}


#left-panel .title {
  display: inline-block;
  padding-right: 30px;
  width: 97%;
}
#left-panel .btn-link {
  position: absolute;
  right: -2px;
  padding: 0px 8px;
  height: 18px;
  margin-top: 1px;
}
*/

#editor {
	margin: 0;
	margin-left: 8px;
	position: fixed;
	top: 30px;
	bottom: 0;
	left: 20%;
	right: 0;
	width: 40%;
}


#left {
	margin: 0;
	position: fixed;
	overflow: scroll;
	float: left;
	top: 30px;
	bottom: 0;
	left: 60%;
	width: 40%;
	right: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	box-shadow:  1px 1px 10px #888;

}

#view {
	padding-left: 30px;
	padding-right: 30px;
}
#view img {
	width: 90%;
	box-shadow: 1px 1px 10px #888;
}
